{
  "globals": {},
  "rules": {
    "semi": 2,
    "quotes": 0,
    "no-use-before-define": [2, "nofunc"],
    "camelcase": 0,
    "no-inner-declarations": [2, "functions"],
    "wrap-iife": [2, "outside"],
    "comma-dangle": [1, "always-multiline"]
  },
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module"
  }
}
